<div class="my_table">
<p-table [value]="data_display" [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25, 50, 100]"
[lazy]="true" (onLazyLoad)="loadHives($event)" [totalRecords]="count_hives" styleClass="p-datatable-lg"
[showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
  <ng-template pTemplate="header">
    <tr>
      <th scope="row" *ngFor="let el of data_header">{{el.title}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingBody">
    <tr>
      <td><p-skeleton></p-skeleton></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr [routerLink]="[route_link, data.id]" *ngIf="isRouteOn"  style="border: 5px solid #e9ecef;border-radius: 25px;">
      <td *ngFor="let el of data_header" [ngClass]="rowIndex % 2 == 0 ? 'row-color-yellow' : 'row-color-black'">
        <ng-container [ngSwitch]="el.key">
          <ng-container *ngSwitchCase="'owner'">
            {{data[el.key].name}}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{data[el.key]}}
          </ng-container>
        </ng-container>
      </td>
    </tr>

    <tr *ngIf="!isRouteOn">
      <td *ngFor="let el of data_header" class="row-text-color" [ngClass]="rowIndex % 2 == 0 ? 'row-color-yellow' : 'row-color-black'">
        <ng-container [ngSwitch]="el.key">
          <ng-container *ngSwitchCase="'owner'">
            {{data[el.key].name}}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{data[el.key]}}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
